<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435902048512-gnvgri5pvgdicv477avk9hufc1vssech.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435902048512-gnvgri5pvgdicv477avk9hufc1vssech</string>
	<key>API_KEY</key>
	<string>AIzaSyBb17NBVBo8gT_xVPB8Wm42wYnkxEPw-Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>435902048512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exposysVirtualInternshipApp</string>
	<key>PROJECT_ID</key>
	<string>exposys-virtual-internsh-6d733</string>
	<key>STORAGE_BUCKET</key>
	<string>exposys-virtual-internsh-6d733.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435902048512:ios:eefbfd0bf52c6445e06be5</string>
</dict>
</plist>